.navbar-container{
    min-width: 2vw;
    min-height: 1vh;
    padding: 0 5rem;

    background: linear-gradient(180deg, rgba(66,83,235,0.2) 0%, rgba(191,235,66,0.2) 100%);;
    border-radius: 0.75rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(15, 97, 113, 0.3);

    position: sticky;
    top: 5px;
}